body,html {
    width: 100%;
    height: 100%;
}
.container {
    position: relative;
    font-family: Arial;
}
.content {

}
#nav-all{
    width: 100%;
    background-color: #85cdca;
}
.navbar-collapse{
    height: 50%;
    background-color: #85cdca;
}
.container-fluid{
    background-color: #85cdca;
}
.button {
    position: relative;
    background-color: #85cdca;
    border: none;
    font-size: 28px;
    color: #FFFFFF;
    padding: 20px;
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    border: none;
    padding: padding: 0;
    border: none;
    padding: none;
}
  
  .button:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
  .button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }
  .button-2 {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: purple;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .button-2:hover {background-color: #58257b}
  
  .button-2:active {
    background-color: #58257b;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }